In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the games data file and store it in a Pandas DataFrame
games_df = pd.read_csv("games.csv")
games_df

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2020-03-01,21900895,Final,1610612766,1610612749,2019,1610612766,85.0,0.354,0.900,...,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,2020-03-01,21900896,Final,1610612750,1610612742,2019,1610612750,91.0,0.364,0.400,...,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,2020-03-01,21900897,Final,1610612746,1610612755,2019,1610612746,136.0,0.592,0.805,...,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,2020-03-01,21900898,Final,1610612743,1610612761,2019,1610612743,133.0,0.566,0.700,...,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,2020-03-01,21900899,Final,1610612758,1610612765,2019,1610612758,106.0,0.407,0.885,...,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
23191,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
23192,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
23193,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
23194,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [3]:
# Check data types to ensure they can be plugged into a ML model
games_df.dtypes

GAME_DATE_EST        object
GAME_ID               int64
GAME_STATUS_TEXT     object
HOME_TEAM_ID          int64
VISITOR_TEAM_ID       int64
SEASON                int64
TEAM_ID_home          int64
PTS_home            float64
FG_PCT_home         float64
FT_PCT_home         float64
FG3_PCT_home        float64
AST_home            float64
REB_home            float64
TEAM_ID_away          int64
PTS_away            float64
FG_PCT_away         float64
FT_PCT_away         float64
FG3_PCT_away        float64
AST_away            float64
REB_away            float64
HOME_TEAM_WINS        int64
dtype: object

In [4]:
# Check for NaN rows
games_df.isna().sum()

GAME_DATE_EST        0
GAME_ID              0
GAME_STATUS_TEXT     0
HOME_TEAM_ID         0
VISITOR_TEAM_ID      0
SEASON               0
TEAM_ID_home         0
PTS_home            99
FG_PCT_home         99
FT_PCT_home         99
FG3_PCT_home        99
AST_home            99
REB_home            99
TEAM_ID_away         0
PTS_away            99
FG_PCT_away         99
FT_PCT_away         99
FG3_PCT_away        99
AST_away            99
REB_away            99
HOME_TEAM_WINS       0
dtype: int64

In [5]:
# Drop rows that have NaN values and confirm that all have been dropped
games_df = games_df.dropna()
games_df.isna().sum()

GAME_DATE_EST       0
GAME_ID             0
GAME_STATUS_TEXT    0
HOME_TEAM_ID        0
VISITOR_TEAM_ID     0
SEASON              0
TEAM_ID_home        0
PTS_home            0
FG_PCT_home         0
FT_PCT_home         0
FG3_PCT_home        0
AST_home            0
REB_home            0
TEAM_ID_away        0
PTS_away            0
FG_PCT_away         0
FT_PCT_away         0
FG3_PCT_away        0
AST_away            0
REB_away            0
HOME_TEAM_WINS      0
dtype: int64

In [6]:
# Drop unneccessary columns (ie. column duplicates, any columns that contain unneccessary text)
games_df = games_df.drop(['GAME_DATE_EST', 'GAME_STATUS_TEXT', 'HOME_TEAM_ID', 'VISITOR_TEAM_ID'], axis=1)

In [7]:
games_df

,GAME_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,21900895,2019,1610612766,85.0,0.354,0.900,0.229,22.0,47.0,1610612749,93.0,0.402,0.762,0.226,20.0,61.0,0
1,21900896,2019,1610612750,91.0,0.364,0.400,0.310,19.0,57.0,1610612742,111.0,0.468,0.632,0.275,28.0,56.0,0
2,21900897,2019,1610612746,136.0,0.592,0.805,0.542,25.0,37.0,1610612755,130.0,0.505,0.650,0.488,27.0,37.0,1
3,21900898,2019,1610612743,133.0,0.566,0.700,0.500,38.0,41.0,1610612761,118.0,0.461,0.897,0.263,24.0,36.0,1
4,21900899,2019,1610612758,106.0,0.407,0.885,0.257,18.0,51.0,1610612765,100.0,0.413,0.667,0.429,23.0,42.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,11400007,2014,1610612737,93.0,0.419,0.821,0.421,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
23191,11400004,2014,1610612741,81.0,0.338,0.719,0.381,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
23192,11400005,2014,1610612747,98.0,0.448,0.682,0.500,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
23193,11400002,2014,1610612761,99.0,0.440,0.771,0.333,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
23194,11400001,2014,1610612748,86.0,0.431,0.679,0.333,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [8]:
# Read the game details data file and store it in a Pandas DataFrame
game_details_df = pd.read_csv("games_details.csv")
game_details_df

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,START_POSITION,COMMENT,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,21900895,1610612749,MIL,Milwaukee,202083,Wesley Matthews,F,NaN,27:08,3.0,...,4.0,4.0,8.0,2.0,2.0,0.0,0.0,0.0,8.0,11.0
1,21900895,1610612749,MIL,Milwaukee,203507,Giannis Antetokounmpo,F,NaN,34:55,17.0,...,2.0,18.0,20.0,6.0,1.0,0.0,3.0,2.0,41.0,22.0
2,21900895,1610612749,MIL,Milwaukee,201572,Brook Lopez,C,NaN,26:25,4.0,...,2.0,5.0,7.0,0.0,0.0,3.0,0.0,2.0,16.0,16.0
3,21900895,1610612749,MIL,Milwaukee,1628978,Donte DiVincenzo,G,NaN,27:35,1.0,...,1.0,6.0,7.0,5.0,0.0,1.0,2.0,0.0,2.0,14.0
4,21900895,1610612749,MIL,Milwaukee,202339,Eric Bledsoe,G,NaN,22:17,2.0,...,1.0,0.0,1.0,2.0,1.0,0.0,3.0,2.0,4.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576777,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,19,4.0,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
576778,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,23,7.0,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
576779,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,15,3.0,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
576780,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,19,1.0,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
576781,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,27,3.0,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [9]:
# Check data types to ensure they can be plugged into a ML model
game_details_df.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

In [10]:
# Drop unneccessary columns 
game_details_df = game_details_df.drop(columns=['TEAM_ABBREVIATION', 'START_POSITION', 'COMMENT', 'MIN', 'PLUS_MINUS'])
game_details_df

,GAME_ID,TEAM_ID,TEAM_CITY,PLAYER_ID,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,21900895,1610612749,Milwaukee,202083,Wesley Matthews,3.0,11.0,0.273,2.0,7.0,...,0.000,4.0,4.0,8.0,2.0,2.0,0.0,0.0,0.0,8.0
1,21900895,1610612749,Milwaukee,203507,Giannis Antetokounmpo,17.0,28.0,0.607,1.0,4.0,...,0.857,2.0,18.0,20.0,6.0,1.0,0.0,3.0,2.0,41.0
2,21900895,1610612749,Milwaukee,201572,Brook Lopez,4.0,11.0,0.364,1.0,5.0,...,0.778,2.0,5.0,7.0,0.0,0.0,3.0,0.0,2.0,16.0
3,21900895,1610612749,Milwaukee,1628978,Donte DiVincenzo,1.0,5.0,0.200,0.0,3.0,...,0.000,1.0,6.0,7.0,5.0,0.0,1.0,2.0,0.0,2.0
4,21900895,1610612749,Milwaukee,202339,Eric Bledsoe,2.0,8.0,0.250,0.0,1.0,...,0.000,1.0,0.0,1.0,2.0,1.0,0.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576777,11200005,1610612743,Denver,202706,Jordan Hamilton,4.0,9.0,0.444,3.0,6.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
576778,11200005,1610612743,Denver,202702,Kenneth Faried,7.0,11.0,0.636,0.0,0.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
576779,11200005,1610612743,Denver,201585,Kosta Koufos,3.0,7.0,0.429,0.0,0.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
576780,11200005,1610612743,Denver,202389,Timofey Mozgov,1.0,1.0,1.000,0.0,0.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
576781,11200005,1610612743,Denver,201951,Ty Lawson,3.0,6.0,0.500,0.0,0.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [11]:
# Check for NaN rows (these will be for players that did not play for that game)
game_details_df.isna().sum()

GAME_ID            0
TEAM_ID            0
TEAM_CITY          0
PLAYER_ID          0
PLAYER_NAME        0
FGM            92261
FGA            92261
FG_PCT         92261
FG3M           92261
FG3A           92261
FG3_PCT        92261
FTM            92261
FTA            92261
FT_PCT         92261
OREB           92261
DREB           92261
REB            92261
AST            92261
STL            92261
BLK            92261
TO             92261
PF             92261
PTS            92261
dtype: int64

In [12]:
# Drop rows that have NaN values and confirm that all have been dropped
game_details_df = game_details_df.dropna()
game_details_df.isna().sum()

GAME_ID        0
TEAM_ID        0
TEAM_CITY      0
PLAYER_ID      0
PLAYER_NAME    0
FGM            0
FGA            0
FG_PCT         0
FG3M           0
FG3A           0
FG3_PCT        0
FTM            0
FTA            0
FT_PCT         0
OREB           0
DREB           0
REB            0
AST            0
STL            0
BLK            0
TO             0
PF             0
PTS            0
dtype: int64

In [13]:
game_details_df

,GAME_ID,TEAM_ID,TEAM_CITY,PLAYER_ID,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,21900895,1610612749,Milwaukee,202083,Wesley Matthews,3.0,11.0,0.273,2.0,7.0,...,0.000,4.0,4.0,8.0,2.0,2.0,0.0,0.0,0.0,8.0
1,21900895,1610612749,Milwaukee,203507,Giannis Antetokounmpo,17.0,28.0,0.607,1.0,4.0,...,0.857,2.0,18.0,20.0,6.0,1.0,0.0,3.0,2.0,41.0
2,21900895,1610612749,Milwaukee,201572,Brook Lopez,4.0,11.0,0.364,1.0,5.0,...,0.778,2.0,5.0,7.0,0.0,0.0,3.0,0.0,2.0,16.0
3,21900895,1610612749,Milwaukee,1628978,Donte DiVincenzo,1.0,5.0,0.200,0.0,3.0,...,0.000,1.0,6.0,7.0,5.0,0.0,1.0,2.0,0.0,2.0
4,21900895,1610612749,Milwaukee,202339,Eric Bledsoe,2.0,8.0,0.250,0.0,1.0,...,0.000,1.0,0.0,1.0,2.0,1.0,0.0,3.0,2.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
576777,11200005,1610612743,Denver,202706,Jordan Hamilton,4.0,9.0,0.444,3.0,6.0,...,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0
576778,11200005,1610612743,Denver,202702,Kenneth Faried,7.0,11.0,0.636,0.0,0.0,...,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0
576779,11200005,1610612743,Denver,201585,Kosta Koufos,3.0,7.0,0.429,0.0,0.0,...,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0
576780,11200005,1610612743,Denver,202389,Timofey Mozgov,1.0,1.0,1.000,0.0,0.0,...,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0
576781,11200005,1610612743,Denver,201951,Ty Lawson,3.0,6.0,0.500,0.0,0.0,...,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0

In [14]:
games_df.columns

Index(['GAME_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'FG_PCT_home',
       'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home', 'TEAM_ID_away',
       'PTS_away', 'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away',
       'REB_away', 'HOME_TEAM_WINS'],
      dtype='object')

In [15]:
game_details_df.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_CITY', 'PLAYER_ID', 'PLAYER_NAME', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS'],
      dtype='object')

In [17]:
games_df = games_df.drop(['GAME_ID', 'SEASON', 'TEAM_ID_home', 'PTS_home', 'TEAM_ID_away', 'PTS_away'], axis=1) 
games_df

,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,0.354,0.900,0.229,22.0,47.0,0.402,0.762,0.226,20.0,61.0,0
1,0.364,0.400,0.310,19.0,57.0,0.468,0.632,0.275,28.0,56.0,0
2,0.592,0.805,0.542,25.0,37.0,0.505,0.650,0.488,27.0,37.0,1
3,0.566,0.700,0.500,38.0,41.0,0.461,0.897,0.263,24.0,36.0,1
4,0.407,0.885,0.257,18.0,51.0,0.413,0.667,0.429,23.0,42.0,1
...,...,...,...,...,...,...,...,...,...,...,...
23190,0.419,0.821,0.421,24.0,50.0,0.366,0.643,0.375,17.0,43.0,1
23191,0.338,0.719,0.381,18.0,40.0,0.411,0.636,0.267,17.0,47.0,0
23192,0.448,0.682,0.500,29.0,45.0,0.387,0.659,0.500,19.0,43.0,1
23193,0.440,0.771,0.333,21.0,30.0,0.469,0.725,0.385,18.0,45.0,1
23194,0.431,0.679,0.333,18.0,42.0,0.462,0.706,0.438,19.0,42.0,0

In [19]:
games_df.columns

Index(['FG_PCT_home', 'FT_PCT_home', 'FG3_PCT_home', 'AST_home', 'REB_home',
       'FG_PCT_away', 'FT_PCT_away', 'FG3_PCT_away', 'AST_away', 'REB_away',
       'HOME_TEAM_WINS'],
      dtype='object')

In [18]:
# Exporting both new files out to updated data files now that we've cleaned our data
games_df.to_csv('games_clean.csv', index=False)
game_details_df.to_csv('game_details_clean.csv', index=False)